.navbar {
    width: 100%;
    padding: 1rem;
    display: flex;
    height: 6rem;
    margin-bottom: -2rem;
}

.navbar_logo {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    cursor: pointer;
}

.navbar_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar_links {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
}

.navbar_links a {
    margin-right: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar_socials {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    width: 100%;
    justify-content: flex-end;
}

.navbar_socials a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}