.main {
  justify-content: center;
  min-height: 100vh;
  background: #181818;
  --backgroundColor: rgba(255, 255, 255);
  --squareColor: rgba(100, 100, 100, .5);
  --squareSize: 1em;
  overflow: hidden;
}

.remover_parent div {
  max-width: calc(var(--max-width) / 2);
}

.remover_parent {
  display: flex;
  justify-content: center;
  padding: 3.75rem;
  width: 100vw;
  min-height: 100vh;
}

.number_input {
  color: black;
}

.main h1 {
  color: white;
}

.main p {
  color: white;
}

.main a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.processing_done {
  margin: .5rem 0 .5rem 0;
}

.file_input {
  color: white;
}

.image_config {
  display: flex;
  flex-direction: column;
}

.image_config div {
  color: white;
}

.main img {
  background-color: var(--backgroundColor);
  background-image:
          linear-gradient(45deg, var(--squareColor) 25%, transparent 25%),
          linear-gradient(135deg, var(--squareColor) 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, var(--squareColor) 75%),
          linear-gradient(135deg, transparent 75%, var(--squareColor) 75%);
  background-size:calc(2 * var(--squareSize)) calc(2 * var(--squareSize));
  background-position:0 0, var(--squareSize) 0, var(--squareSize) calc(-1 * var(--squareSize)), 0 calc(-1 * var(--squareSize));
}

.image_ref {
  position: absolute;
  visibility: hidden;
  border: .5rem solid black;
  border-radius: 2rem;
}

.image {
  border: .1rem solid black;
}

.image_settings {
  width: 100%;
  padding-right: 4rem;
}

.image_preview {
  width: 100%;
  height: calc(100% - 4rem);
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_preview img {
  max-height: calc(100vh - 4rem);
  max-width: 100%;
  object-fit: contain;
}

.history_buttons {
  margin-top: -0.5rem;
  display: flex;
  justify-content: space-between;
}

.history_buttons button {
  width: 100%;
  margin-top: 0;
  height: 1rem;
}
.history_buttons button:first-child {
  margin-left: 0;
  margin-right: .25rem;
}
.history_buttons button:last-child {
  margin-right: 0;
  margin-left: .25rem;
}

.button {
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  position: relative;
  transition: opacity, left 2s,
              all .5s;
  overflow: hidden;
}

.button:hover {
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button span {
  font-size: .9rem;
  font-family: sans-serif;
}

.button * {
  position: absolute;
}

.loader {
  width: .4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #dfdfdf;
  box-shadow: #dfdfdf -10px 0, #dfdfdf 10px 0;
  animation: l18 1.2s infinite;
  transition: all 1.2s;
}

@keyframes l18 {
  25% {
    box-shadow: #dfdfdf -5px -5px, #dfdfdf 5px 5px;
  }

  50% {
    box-shadow: #dfdfdf 0 -10px, #dfdfdf 0 10px;
  }

  75% {
    box-shadow: #dfdfdf 5px -5px, #dfdfdf -5px 5px;
  }

  100% {
    box-shadow: #dfdfdf 10px 0, #dfdfdf -10px 0;
  }
}

.checkbox_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  cursor: pointer;
}

.checkbox_parent span {
  width: 100%;
}

.number_input {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.number_input_parent {
  margin: .5rem 0;
}

.download_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tooltip {
  z-index: 100;
}

.drag_and_drop {
  margin-left: 2rem;
  margin-right: 2rem;
}